
.portfolio {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 70vh;
   gap: 1rem;
   /* overflow: hidden; */
}


.portfolio span:nth-of-type(1) {
   color: var(--black);
   font-size: 2rem;
   font-weight: bold;
}

.portfolio span:nth-of-type(2) {
   color: var(--orange);
   font-size: 2.5rem;
   font-weight: bold;
}

.portfolio .swiper {
   overflow: visible !important;
   padding-bottom: 1rem !important;
  
  }

.portfolio-slider {
   margin-top: 3rem;
   width: 100%;
   padding-bottom: 3rem !important;
   overflow : visible !important;
}


.portfolio-slider .swiper-slide {
   width: 20rem;
   height: 13rem !important;
   display: flex;
   align-items: center;

}




.portfolio-slider .swiper-slide:hover {
   transform: scale(1.05);
}

.portfolio img {
   border-radius: 19px;
   filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
   width: 19rem;
   height: 13rem;
   object-fit: cover;
}


/* Pagination dots */
.portfolio-slider .swiper-pagination-bullet {
   background: var(--orange) !important; 
  }


/* Navigation arrows */
/* Hide default arrows */
.portfolio-slider .swiper-button-next,
.portfolio-slider .swiper-button-prev {
   display: none !important;
}

.portfolio-slider .swiper-button-prev{
  left: -1rem !important;
}


.portfolio-slider .swiper-button-next{
  right: -1rem !important;
}

.portfolio-slider .swiper-button-next::after,
.portfolio-slider .swiper-button-prev::after {
   font-size: 1.2rem !important;
}


/* Custom arrows */
.portfolio-nav {
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
.custom-prev, .custom-next {
   background: var(--orange);
   color: white;
   border: none;
   border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   font-size: 1.5rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   padding-bottom: 8px;
   justify-content: center;
}
.custom-prev:hover, .custom-next:hover {
   background: var(--black);
}


/* Tablet */
@media screen and (max-width: 800px) {
   .portfolio {
     height: auto;
     padding: 2rem 0;
   }
   .portfolio-slider .swiper-slide {
     width: 15rem;
   }
   .portfolio img {
     width: 14rem;
   }
}

/* Mobile */
@media screen and (max-width: 480px) {
   .portfolio {
     padding: 1rem 0;
   }
   .portfolio-slider .swiper-slide {
     width: 18rem;
   }
   .portfolio img {
     width: 17rem;
   }
   .portfolio-slider .swiper-button-next,
   .portfolio-slider .swiper-button-prev {
     display: none; /* mobile pe arrows hide */
   }
}
